#bandera_escudo{
    margin-top: 5%;
    text-align: center;
}

#bandera_escudo li{
    display: inline-block;
    width: 45%;
    height: 17em;
    text-align: center;
}

#bandera_escudo img{
    width: 23em;
    height: inherit;
}