#bandera_escudo{
    margin-top: 5%;
}

#bandera_escudo li{
    display: inline-block;
    width: 20em;
    height: 17em;
    padding: 2% 5%;
    text-align: center;
}

#bandera_escudo img{
    width: inherit;
    height: inherit;
}