*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body{
    background-image: url('../imagenes/paisaje.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

nav{
    background-color: rgb(26, 164, 199);
}

nav ul{
    list-style-type: none;
    overflow: hidden;
}

nav li{
    float: left;
}

nav li a, #tituloMenu{
    display: block;
    font-size: 150%;
    padding: 1.10em 0.90em;
    text-decoration: none;
    text-align: center;
    color: rgb(255, 255, 230);
}

#tituloMenu{
    background-color: rgb(255, 255, 230);
    color: rgb(26, 164, 199);
}

nav li a:hover{
    background-color: rgb(30, 138, 180);
}

main{
    width: 60%;
    height: 100%;
    margin: 5% auto;
    padding: 2% 5% 4% 5%;
    background-color: rgba(255, 255, 255, 0.900);
}

#titulo{
    text-align: center;
    background-color: rgb(26, 164, 199);
    color: rgb(255, 255, 230);
    padding: 2%;
}

#titulo, .subtitulo{
    margin-top: 4%;
}

main p{
    margin-top: 3%;
    font-size: 110%;
    text-align: justify;
}