*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body{
    background-image: url('../imagenes/paisaje.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

nav{
    background-color: rgb(26, 164, 199);
    width: 100%;
    position: fixed;
    top: 0;
}

nav ul{
    list-style-type: none;
    overflow: hidden;
}

nav li{
    float: left;
}

#tituloMenu{
    display: block;
    font-family: 'Noto Serif', serif;
    padding: 1.10em 1.10em;
    text-align: center;
    background-color: rgb(255, 255, 230);
    color: rgb(26, 164, 199);
}

nav li a{
    display: block;
    font-size: 1.5em;
    padding: 1.10em 1.10em;
    text-decoration: none;
    text-align: center;
    color: rgb(255, 255, 230);
}

nav li a:hover{
    background-color: rgb(30, 138, 180);
}

main{
    width: 60%;
    height: 100%;
    margin: 8% auto 3% auto;
    padding: 2% 5% 4% 5%;
    background-color: rgba(255, 255, 255, 0.900);
}

#titulo{
    text-align: center;
    background-color: rgb(26, 164, 199);
    color: rgb(255, 255, 230);
    padding: 2%;
}

#titulo, .subtitulo{
    margin-top: 4%;
}

main p{
    margin-top: 3%;
    font-size: 1.3em;
    text-align: justify;
}

footer{
    background-color: rgb(26, 164, 199);
    padding: 1em;
    font-size: 1.1em;
    color: rgb(255, 255, 230);
    text-align: center;
}

footer a, footer a:visited{
    color: rgb(255, 255, 230)
}